In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

codi_women_01 = pd.read_csv('codimap_women.csv')
codi_women_02 = pd.read_csv('codimap_women01.csv')
codi_women_03 = pd.read_csv('codimap_women02.csv')
codi_women_04 = pd.read_csv('codimap_women03.csv')

dataframes = [codi_women_01, codi_women_02, codi_women_03, codi_women_04]

codi_women_df = pd.concat(dataframes, ignore_index=True)
codi_women_df.head()

,codi_name,codi_img,tags,data_no_list,items_list
0,americancasual,https://image.msscdn.net/images/codimap/detail...,"['#오버핏', '#체크', '#아메카지', '#로고플레이', '#레이어드룩', '...","[2154456, 1679319, 2116361]","[{'data_no': 2154456, 'big_category': '스커트', '..."
1,americancasual,https://image.msscdn.net/images/codimap/detail...,"['#겨울', '#아메리칸 캐주얼', '#바잘', '#아포코팡파레', '#어그', ...","[2835945, 1405619, 927048, 2885256, 2042868]","[{'data_no': 2835945, 'big_category': '아우터', '..."
2,americancasual,https://image.msscdn.net/images/codimap/detail...,"['#아메카지', '#레이어드룩', '#스트라이프', '#코듀로이', '#퀼팅', ...","[2683529, 2767681, 1000696, 1677105, 2198410, ...","[{'data_no': 2683529, 'big_category': '아우터', '..."
3,americancasual,https://image.msscdn.net/images/codimap/detail...,"['#퀼팅', '#오버핏', '#코듀로이', '#에코', '#여친룩', '#레터링'...","[2173546, 1677105, 1758183, 2206742]","[{'data_no': 2173546, 'big_category': '아우터', '..."
4,americancasual,https://image.msscdn.net/images/codimap/detail...,"['#뉴트럴톤', '#아메카지', '#오버핏', '#가을', '#아메리칸 캐주얼',...","[1899794, 2185484, 1171302]","[{'data_no': 1899794, 'big_category': '스커트', '..."

In [3]:
import re

def extract_number(url):
    match = re.search(r'\d+', url)
    if match:
        return match.group()

# 'codi_img' 열에서 숫자 추출하여 'codi_img_name' 열 생성
codi_women_df['codi_img_name'] = codi_women_df['codi_img'].apply(extract_number)

codi_women_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   codi_name      720 non-null    object
 1   codi_img       720 non-null    object
 2   tags           720 non-null    object
 3   data_no_list   720 non-null    object
 4   items_list     720 non-null    object
 5   codi_img_name  720 non-null    object
dtypes: object(6)
memory usage: 33.9+ KB

In [4]:
item_df = codi_women_df[['data_no_list', 'items_list']]
item_df.head()

,data_no_list,items_list
0,"[2154456, 1679319, 2116361]","[{'data_no': 2154456, 'big_category': '스커트', '..."
1,"[2835945, 1405619, 927048, 2885256, 2042868]","[{'data_no': 2835945, 'big_category': '아우터', '..."
2,"[2683529, 2767681, 1000696, 1677105, 2198410, ...","[{'data_no': 2683529, 'big_category': '아우터', '..."
3,"[2173546, 1677105, 1758183, 2206742]","[{'data_no': 2173546, 'big_category': '아우터', '..."
4,"[1899794, 2185484, 1171302]","[{'data_no': 1899794, 'big_category': '스커트', '..."